/* ABOUT SECTION START */
.about-title{
    font-size: 30px;
line-height: 45px;
letter-spacing: -0.61875px;
}
@media only screen and (min-width: 768px){
    .about-wrap{
        width: 100%;
        max-width: 445px;
    }
}
/* ABOUT SECTION END */